{% extends "layout.html" %}

{% block body %}
    <header>Tic-Tac-Toe</header>
    <table>
        {% for i in range(n) %}
            <tr>
                {% for j in range(n) %}
                    <td>
                        {% if game[i][j] %}
                            {{ game[i][j] }}
                        {% else %}
                            <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <footer>Current turn: {{ turn }}</footer>
{% endblock %}
